@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
#terminal__body {  
    background: rgba(0, 0, 0, 0.9);  
    font-family: 'Ubuntu Mono';  
    height: 50px;  
    padding-top: 2px;  
    margin-top: -1px;
    border-radius: 2%;
  } 
  #terminal__prompt {  
    display: flex;
    padding: 10px;
  }
  #terminal__prompt--user {  
    color: #ffffff;
  }
  #terminal__prompt--location { 
    color: #4878c0;
  }
  #terminal__prompt--bling {  
    color: #dddddd;
  }
  #terminal__prompt--cursor {  
    display: block;  
    height: 17px;  
    width: 8px;  
    margin-left: 9px;  
    animation: blink 1200ms linear infinite;
  } 
  @keyframes blink {  
    0% {    
      background: #ffffff;  
    }  
    49% {    
      background: #ffffff;  
    }  
    60% {    
      background: transparent;  
    }  
    99% {    
      background: transparent;  
    }  100% {    
      background: #ffffff;  
    }
  } 
  @media (max-width: 600px) {  
        #terminal {    
        max-height: 90%;    
        width: 90%;  
        }
    }

li {
    width: 50rem;
    font-family: 'Noto Sans JP', sans-serif;
}
h1 {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}
.directions-container {
    background-color: rgb(221, 244, 252);
    width: 55rem;
    padding: 1rem;
    border-radius: 4%;
    border: 5px solid rgb(123, 191, 214);
    margin: 0 auto;
}


.i-wuz-here-container {
  border: 5px solid black;
  border-radius: 4%;
  height: 50rem;
  width: auto;
  color: grey;
  font-size: 1.2rem;
  font-family: 'Ubuntu Mono'
}

.i-wuz-here-title {
    position: relative;  
    text-align: center; 
    color: black;
}

.resource-button {
    /* position: relative;
    background-color: #ff7779;
    color: white;
    width: 200px;
    border: 2px solid transparent;
    text-decoration: none;
     */
    border-radius: 80%;
    position: relative;
    text-transform: inherit !important;
    background-color: #ff7779;
    color: white;
    width: 250px;
    height: 75px;
}
.resource-button:hover {
    /* border: 2px solid rgb(123, 191, 214);
    background-color: rgb(123, 191, 214);
    border-radius: 3px;
    transition: all 0.2s ease-out; */
    background-color: white;
    color: #ff7779;
}

.strong__text {
  color: red;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}

.nicollBranch {
  color: purple;
  padding-left: 10px;
}

.itsjillbb{
  color: coral;
  padding-left: 10px;
}

.shelbs {
  padding-left: 10px;
  background: linear-gradient(to right, #f71616, #2936f0, #12e463);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
